body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  background-color: beige;
}

.chapter {
  text-align: center;
  border: solid 2px;
}

.chapter_main {
  color: #794e7b;
  background-color: antiquewhite;
}

.chapter1 {
  color: #552671;
  background-color: burlywood;
}

.chapter2 {
  background-color: bisque;
}

.chapter3 {
  background-color: blanchedalmond;
}

.chapter4 {
  background-color: burlywood;
}

.chapter5 {
  background-color: cadetblue;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.through {
  text-decoration: line-through;
}

.underline{
  text-decoration-line: underline;
}
